@import url('./styles/Header.css');
@import url('./styles/AdminSettingsPageStyle.css');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d1321;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.main-container main{
    margin: 15px 10px;
    background-color: red;
}
button{
    color: white;
    background-color: #3e5c76;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
}
button:hover{
    background-color: #1d2d44;
    cursor: pointer;
}


