.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

}
.app-header div{
    display: flex;
    gap: 12px;
}
.app-header img {
    margin-top: 10px;
    width: 18vw;
    height: 8vh;
}
.app-header button{
    padding: 7px 12px 9px 7px;
}
