.cards-container-scroll-horizontally {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.card-scroll-horizontally {
  scroll-snap-align: start;
  min-width: 240px;
}
